<!-- COMPONENTE p-dataTable / PRIMENG
[paginator]=true -> Disponibilizando paginação
[rows]=2 -> qtde de linhas por página
[responsive]=true -> Deixando a tabela responsiva -->
<p-table [value]="lancamentos"
         [responsive]="true"
         [paginator]="true"
         [rows]="filtro.itensPorPagina"
         [lazy]="true"
         [totalRecords]="totalRegistros"
         (onLazyLoad)="aoMudarPagina($event)"
         #tabela >

  <ng-template pTemplate="header">
    <tr>
      <th>Pessoa</th>
      <th>Descrição</th>
      <th class="col-data-header" >Vencimento</th>
      <th class="col-data-header" >Pagamento</th>
      <th class="col-valor-header" >Valor</th>
      <th class="col-acoes-header"></th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-lanc>
    <tr>
      <td> {{ lanc.pessoa }} </td>
      <td> {{ lanc.descricao }} </td>
      <td class="col-data"> {{ lanc.dataVencimento | date: 'dd/MM/y' }} </td>
      <td class="col-data"> {{ lanc.dataPagamento | date: 'dd/MM/y' }} </td>
      <td class="col-valor"
          [style.color]=" lanc.tipo === 'DESPESA' ? 'red' : 'blue' " >
        {{ lanc.valor | number:'1.2-2' }}
      </td>
      <td class="col-acoes" >
          <button pButton
                  icon="fa-pencil"
                  pTooltip="Editar Lançamento"
                  tooltipPosition="top"
                  [routerLink]="['/lancamentos', lanc.codigo]">
          </button> <!-- DIRETIVA icon=fa-pencil AWESOME -->
          <button pButton
                  icon="fa-trash"
                  pTooltip="Excluir Lançamento"
                  tooltipPosition="top"
                  [disabled]="!autenticacaoService.verificarPermissao('ROLE_REMOVER_LANCAMENTO')"
                  (click)="confirmarExclusao(lanc)">
          </button>
      </td>
    </tr>

  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="6">
        Nenhum lançamento encontrado.
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="footer">
      <tr>
        <td class="col-total-footer" colspan="4">Total:</td>
        <td class="col-total-footer" >R$ {{ totalValor | number:'1.2-2' }}</td>
        <td></td>
      </tr>
  </ng-template>

</p-table>
