<div class="container">
  <div class="ui-g">

    <div class="ui-g-12">
      <h1>Pessoas</h1>
    </div>

    <div class="ui-g-12 ui-fluid">
      <label>Nome</label>
      <input type="text" pInputText>
    </div>

    <div class="ui-g-12">
      <button type="submit" label="Pesquisar" pButton></button>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <app-pessoas-grid [pessoas]="pessoas" ></app-pessoas-grid>
    </div>

    <div class="ui-g-12">
      <a label="Nova Pessoa" pButton></a>
    </div>

  </div>

</div>



