<div class="container">
  <form (ngSubmit)="submeter()" [formGroup]="formulario"  >
    <div class="ui-g">
      <div class="ui-g-12" >
        <h1>{{ tituloPagina }}</h1>
      </div>

      <div class="ui-g-12">
        <p-selectButton
          name="tipo"
          formControlName="tipoLancamento"
          [options]="tipos">
        </p-selectButton>
      </div>

      <div class="ui-g-6  ui-md-3  ui-fluid">
        <label>Vencimento</label>
        <!--
          inline -> Calendário sempre visivel
          readonlyInput -> Impossibilitar que datas sejam digitadas
          showIcon -> Mostrar icone do calendário
        -->
        <p-calendar
          name="vencimento"
          formControlName="dataVencimento"
          dateFormat="dd/mm/yy"
          [inline]="false"
          [readonlyInput]="false"
          [showIcon]="false"
          [locale]="pt">
        </p-calendar>

        <app-message
          text='Informe o vencimento'
          error="required"
          [control]="formulario.get('dataVencimento')" >
        </app-message>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>{{ formulario.get('tipoLancamento').value === 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</label>
        <p-calendar
          name="pagamento"
          formControlName="dataPagamento"
          dateFormat="dd/mm/yy"
          [inline]="false"
          [readonlyInput]="false"
          [showIcon]="false"
          [locale]="pt">
        </p-calendar>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Descrição</label>
        <input
          pInputText
          type="text"
          name="descricao"
          formControlName="descricao">

        <app-message
          text='Informe uma descrição'
          error="required"
          [control]="formulario.get('descricao')" >
        </app-message>

        <!-- ? -> Evitar null, caso não esteja preenchido não deve prosseguir -->
        <app-message
          text="Mínimo de {{ formulario.get('descricao').errors?.minlength?.requiredLength }} caracteres"
          error="minlength"
          [control]="formulario.get('descricao')">
        </app-message>

      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Valor</label>
        <!-- allowNegative -> Impossibilita valores negativos -->
        <input
          pInputText
          type="text"
          name="valor"
          placeholder="0,00"
          formControlName="valor"
          currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false }">

        <app-message
          text='Informe o valor'
          error="required"
          [control]="formulario.get('valor')">
        </app-message>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid" formGroupName="categoria" >
        <label>Categoria</label>
        <!--
          autoWidth -> Tamanho do componente não será conforme qtde de caracteres das palavras
          filter -> Disponibiliza combo de busca
        -->
        <p-dropdown
          name="categoria"
          placeholder="Selecione"
          formControlName="codigo"
          [options]="categorias"
          [autoWidth]="false">
        </p-dropdown>

        <app-message
          text="Informe uma categoria"
          error="required"
          [control]="formulario.get('categoria')">
        </app-message>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid" formGroupName="pessoa" >
        <label>Pessoa</label>
        <p-dropdown
          name="pessoa"
          placeholder="Selecione"
          formControlName="codigo"
          [options]="pessoas"
          [autoWidth]="false"
          [filter]="true">
        </p-dropdown>
        <app-message
          text='Informe uma pessoa'
          error="required"
          [control]="formulario.get('pessoa')"
        ></app-message>
      </div>

      <div class="ui-g-12  ui-fluid">
        <label>Observação</label>
        <textarea
          pInputTextarea
          name="observacao"
          rows="3"
          formControlName="observacao">
        </textarea>
      </div>

      <div class="ui-g-12">
        <button
          pButton
          type="submit"
          label="Salvar"
          [disabled]="formulario.valid == false || !autenticacaoService.verificarPermissao('ROLE_CADASTRAR_LANCAMENTO')">
        </button>

        <button
          pButton
          type="button"
          label="Novo"
          class="ui-button-info"
          (click)="novo()"
          [disabled]="!autenticacaoService.verificarPermissao('ROLE_CADASTRAR_LANCAMENTO')">
        </button>

        <a routerLink="/lancamentos" >Voltar para a pesquisa</a>
      </div>

    </div>

  </form>

</div>
