<p-dataTable [value]="pessoas" [responsive]="true" emptyMessage="Nenhuma pessoa encontrada."
             [paginator]="true" [rows]="filtro.itensPorPagina" [rows]="filtro.itensPorPagina" [lazy]="true" [totalRecords]="totalRegistros"
             (onLazyLoad)="aoMudarPagina($event)" #tabela >
  <p-column field="nome" header="Nome"></p-column>
  <p-column field="enderecoPessoa.cidade" header="Cidade"></p-column>
  <p-column field="enderecoPessoa.estado" header="Estado" styleClass="col-estado"></p-column>
  <p-column field="enderecoPessoa.status" header="Status" styleClass="col-status" >
    <ng-template let-pessoa="rowData" pTemplate="body" >
        <a href="javascript:;" style="color: green;" *ngIf="pessoa.ativo" pTooltip="Clique para desativar" tooltipPosition="top" (click)="mudarStatus(pessoa)" >
          {{ 'Ativo' }}
        </a>
        <a href="javascript:;" style="color: red;" *ngIf="pessoa.ativo == false" pTooltip="Clique para ativar" tooltipPosition="top" (click)="mudarStatus(pessoa)">
          {{ 'Inativo' }}
        </a>
    </ng-template>
  </p-column>
  <p-column styleClass="col-acoes">
    <ng-template let-pessoa="rowData" pTemplate="body">
      <button icon="fa-pencil" pButton pTooltip="Editar Pessoa" [routerLink]="['/pessoas', pessoa.codigo]"  tooltipPosition="top" ></button>
      <button icon="fa-trash" pButton pTooltip="Excluir Pessoa" tooltipPosition="top" (click)="confirmarExclusao(pessoa)"
              [disabled]="!autenticacaoService.verificarPermissao('ROLE_CADASTRAR_PESSOA')"></button>
    </ng-template>
  </p-column>
</p-dataTable>
