<div class="container">
  <form #pessoaForm="ngForm" >
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Nova Pessoa</h1>
      </div>

      <div class="ui-g-12  ui-fluid">
        <label>Nome</label>
        <input type="text" pInputText name="nome" ngModel #nome="ngModel" required minlength="5" >

        <app-message [control]="nome" error="required" text='Informe um nome' ></app-message>
        <app-message [control]="nome" error="minlength" text='Mínimo de {{ nome.errors?.minlength?.requiredLength }} caracteres' ></app-message>
      </div>

      <div class="ui-g-9  ui-fluid">
        <label>Logradouro</label>
        <input type="text" pInputText name="logradouro" ngModel #logradouro="ngModel" required minlength="5" >

        <app-message [control]="logradouro" error="required" text='Informe um logradouro' ></app-message>
        <app-message [control]="logradouro" error="minlength" text='Mínimo de {{ logradouro.errors?.minlength?.requiredLength }} caracteres' ></app-message>
      </div>

      <div class="ui-g-3  ui-fluid">
        <label>Número</label>
        <input type="text" pInputText name="numero" ngModel #numero="ngModel" required >

        <app-message [control]="numero" error="required" text='Informe um número' ></app-message>
      </div>

      <div class="ui-g-4  ui-fluid">
        <label>Complemento</label>
        <input type="text" pInputText name="complemento" ngModel #complemento="ngModel" >
      </div>

      <div class="ui-g-4  ui-fluid">
        <label>Bairro</label>
        <input type="text" pInputText name="bairro" ngModel #bairro="ngModel" required minlength="5">

        <app-message [control]="bairro" error="required" text='Informe o bairro' ></app-message>
        <app-message [control]="bairro" error="minlength" text='Mínimo de {{ bairro.errors?.minlength?.requiredLength }} caracteres' ></app-message>
      </div>

      <div class="ui-g-4  ui-fluid">
        <label>CEP</label>
        <p-inputMask mask="99999-999" name="cep" ngModel #cep="ngModel" required ></p-inputMask>

        <app-message [control]="cep" error="required" text='Informe o cep' ></app-message>
      </div>

      <div class="ui-g-6  ui-fluid">
        <label>Cidade</label>
        <input type="text" pInputText name="cidade" ngModel #cidade="ngModel" required minlength="5" >

        <app-message [control]="cidade" error="required" text='Informe a cidade' ></app-message>
        <app-message [control]="cidade" error="minlength" text='Mínimo de {{ cidade.errors?.minlength?.requiredLength }} caracteres' ></app-message>
      </div>

      <div class="ui-g-6  ui-fluid">
        <label>Estado</label>
        <input type="text" pInputText name="estado" ngModel #estado="ngModel" required minlength="2" maxlength="2" >

        <app-message [control]="estado" error="required" text='Informe o estado' ></app-message>
        <app-message [control]="estado" error="minlength" text='Mínimo de {{ estado.errors?.minlength?.requiredLength }} caracteres' ></app-message>
      </div>

      <div class="ui-g-12">
        <button type="submit" label="Salvar" [disabled]="pessoaForm.valid == false" pButton></button>
        <button type="button" label="Novo" class="ui-button-info" pButton></button>
        <a href="javascript:;" >Voltar para a pesquisa</a>
      </div>
    </div>

  </form>

</div>
